/* CSS Document */

body{
    background-image: url(pic1.jpg);
    height: 100%;
    width: 100%;
}
#top{
    text-align: center;
}
#users_h{
    text-align: center;
}
#top_header{
    /*background: aqua;*/
    
    padding: 10px;
    font-size: 16px;
    /*border: 1px solid black;   */
}
h1{
    text-align: left;
    font-size: 30px;
    
}

button {
    background-color:#0000FF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
	text-align:center;
    margin-left:90px;
    border-radius: 10px;
}
#main{
    width: 50%;
    top: 0;
    margin: 10px;
    background-color: white;
}
/* form display */
#form1{
    border: 1px black;
    border-width: thick;
    width:100%;
    height:100%;
    opacity:.95;
    top:0;
    left:0;
    display:none;
    position:fixed;
    background-color:#313131;
    overflow:auto
}
img#close {
    position:absolute;
    right:-14px;
    top:-14px;
    width: 50px;
    cursor:pointer
}
div#popupContact {
    position:absolute;
    left:50%;
    top:10%;
    margin-left:-202px;
    font-family:'Raleway',sans-serif;
    
}
form {
    height: fit-content;
    max-width:300px;
    min-width:250px;
    padding:10px 50px;
    border:2px solid gray;
    border-radius:10px;
    font-family:raleway;
    background-color: lightblue;
    
    
}
input[type=text] {
    width:82%;
    padding:10px;
    /*margin-top:30px;*/
    border:1px solid #ccc;
    padding-left:40px;
    font-size:16px;
    font-family:raleway;
    height: 8%;
}


#submit {
    text-decoration:none;
    width:75%;
    text-align:center;
    display:block;
    background-color:blue;
    cursor:pointer;
    border-radius:5px
}
span {
    color:red;
    font-weight:700
}
/* end of form*/
#button1{
    width: 80px;
    border-radius: 10px; 
    
}
#b1{
    border: 1px ;
    margin-left: 1100px;
}
/*beginning of navbar*/
#navbar{
    width: 100%;
    height:  48px;
    margin: 0 auto;
    background: blue;
    color: white;  
}
#navbar ul{
    float: left;
	width: 930px;
	margin: 0;
	padding: 6px 0 0 0;
    list-style: none;   
}

#navbar ul li{
    display:inline;
}
#navbar ul li a{
    float: left;
	width: 110px;
	padding: 5px 0;
	margin-right: 5px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color:#FFFFFF;
	border-right: 1px solid #4c4a3c;
}
#navbar li a:hover, #nav li .current {
	color:#FF0000;
}
/*end of navbar*/

/*------main2---------*/

/*notification*/
#notifications{
    background-color: white;
    width:50%;
    padding: 0 10px;
    float:left;
    color:black;    
    scroll-behavior: auto; 
}
h2{
    /*background: #0000FF;*/
    width: 100%;   
}
#notify{
    
	display: inline-block;
	padding: 8px 0;
	width: 100%;
}
#notify li:hover{
    background: #f2f2f2;
    cursor:pointer;
}
#notify li{
	width: 95%;
    float: left;
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
}
#notify p {
	font-size: 13px;
}

#notifications p > muted {
	font-size: 12px;
	text-transform: uppercase;
	font-style: italic;
	color: #666666
}

/*end of notifications*/

/*content*/
#content{
    background-color: white;
    float: right;
    width: 45%;
    height:500px;
    color:#000000;
    display: none;
    top: 0;
}
#b2{
    width: 12%;
    float: right;
}
h3{
    background: #0000FF;
    width: 100%; 
}
#back1{
    width: 100%;
    height: 10%;
}
img#back {
    float: left;
    right:-18px;
    top:-14px;
    cursor:pointer;
    width: 80px;
    color: #0000FF;
}
#message{
    height: 70%;
}
#approve, #reject{
    width: 15%;
    height: 8%;
    text-align: center;
    top: 20;
}
#buttons{
    text-align: center;
}


/*end of content*/

/* Table */
table{
    border: solid lightgray thin;
    padding: 10px;
    border-collapse: collapse;
    width: 100%;
}
td, th{
    border: solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

/*------Home-----------*/
#nav1{
    padding: 20px;
    transition: all 0.8s;
    background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
.container{
    height: 30%;
}
#nav1 #navbar-header{
    float: left;
	font-size: 20px;
	color: blue;
	font-weight: 500;
    text-transform: uppercase;
    width: 40%;
    height: 8%;
    top: 0;   
}
#navbar-right{
    width: 55%;
    float: right;
    top: 0;
    color:white;
}
#navbar-right ul{
    float: right;
	width: 700px;
	margin: 0;
	padding: 0 0 0 6px;
    list-style: none;   
}

#navbar-right ul li{
    display:inline;
    
}
#navbar-right ul li a {
    float: right;
	width: 110px;
	padding: 0 5px;
	margin-left: 5px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
    color: white;
	border-right: 1px solid #4c4a3c;
}

#navbar-right ul li .active{
    
	color: #444;
	
} 
#navbar-right li a:hover{
    color: #0ba2db;
}
#navbar-right > .active > a, #navbar-right > .active > a:hover, #navbar-right > .active > a:focus {
	color: #0ba2db !important;
	background-color: transparent;
}
.about2{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    
}
#header-about{
    text-align: center;
    font-size: 50px;
}

/*----------Dropdown-----*/
.dropdown {
    position: relative;
    display:inline-block;
    overflow: hidden;
  }
  .dropdown-content{
      display: none;
      position: absolute;
      background-color: #0000FF;
      min-width: 160%;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;

  }
  .dropdown-content a{
      float: none;

      color: white;
      padding: 12px 16px;   
      display: block;
  }
  .dropdown:hover .dropdown-content{
      display: block;
  }
  /*--------Searchbar-----------*/
  #search{
      float: left;
      display: none;
      width: 50%;
      margin: 0;
      padding: 14px;
      border: 1px solid thin;
      overflow: auto;
  }
  